<!doctype html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <!--<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.github.url }}/css/main.css" type="text/css" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
</head>
 
<body>
    <!--{% include nav.html %}-->
    {{ content }}
    <br>
    <br>
</body>
</html>
